{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <title>Just review it</title>
  <script>
    function handleSearch() {
      keyword = document.getElementById("search_input").value;
      search_by = document.getElementById("search_by").value;
      if (keyword != "") {
        window.location.href = '/books/?search=' + keyword + '&search_by=' + search_by
      }
    }
    function handleAuthorSearch() {
      keyword = document.getElementById("author_search_input").value;
      if (keyword != "") {
        window.location.href = '/users/authors/?search=' + keyword
      }
    }
    function handleProfileSearch() {
      keyword = document.getElementById("profile_search_input").value;
      if (keyword != "") {
        window.location.href = '/users/profiles/?search=' + keyword
      }
    }

  </script>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top navbar-color">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'reviews-view' %}" style="font-family: 'Lucida Handwriting';">Just
          review it</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="/users/profile/{{ user.username }}">My profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Browse</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="/reviews/">Latest Reviews</a></li>
            <li class="list-group-item list-group-item-light"><a href="/books/">Books</a></li>
            <li class="list-group-item list-group-item-light"><a href="/users/authors/">Authors</a></li>
            <li class="list-group-item list-group-item-light"><a href="/users/profiles/">Readers</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>


  <div class="modal fade" id="postReviewForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100">Post a new review</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <textarea type="text" class="form-control" name="content" rows="3" placeholder="Write a review ..."
                value="{{ content }}" required></textarea>
              <br />
              {% if book %}
              <select class="form-control" aria-label="Disabled select example" disabled>
                <option selected>{{book.title}} - {{book.author}}</option>
              </select>
              {% else %}
              <select class="form-control" name="book" required>
                <option value="" style="color: gray;" disabled selected hidden>Choose a book ...</option>
                {% for b in books %}
                <option value="{{ b.id }}">{{b.title}} - {{b.author}}</option>
                {% endfor %}
              </select>
              {% endif %}
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-outline-info" type="submit">Post</button>
          </div>
        </form>
        {% else %}
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <p>You must be logged in to post a new review</p>
            <small><u><a href="{% url 'login' %}">Login to my account</a></u></small>
            <br/>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <small>Don't have an account?</small>
          <u><small><a href="{% url 'register' %}">Click here to register</a></small></u>
        </div>
    {% endif %}

      </div>
    </div>
  </div>


  <div class="modal fade" id="updateProfileForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100">Update profile information</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>

              <label for="first_name">First name</label>
              <input type="text" class="form-control" name="first_name" value="{{ profile.first_name }}"
                required></input>
              <br />

              <label for="last_name">Last name</label>
              <input type="text" class="form-control" name="last_name" value="{{ profile.last_name }}" required></input>
              <br />

              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" value="{{ profile.user.username }}"
                required></input>
              <br />

              <label for="email_field">Email</label>
              <input type="email" class="form-control" name="email" value="{{ profile.user.email }}" required></input>
              <br />

              <label for="bio">Bio</label>
              <textarea type="text" class="form-control" name="bio" rows="3">{{ profile.bio }}</textarea>

            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-outline-info" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updatePictureForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100">Change profile picture</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <i class="fas fa-envelope prefix grey-text"></i>

              <label for="picture">Upload a new profile picture</label>
              <input type="file" class="form-control-file" name="picture"></input>
              <br />

              <button class="btn btn-outline-info" type="submit">Save changes</button>
            </form>
            <hr>
            <form method="POST" class="inline">
              {% csrf_token %}
              <input type="hidden" name="delete_picture" value="">
              <button type="submit" class="btn btn-outline-danger">Delete my current profile picture</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>


</body>

</html>